@model CreateUserDto




<div class="content-wrapper d-flex align-items-center auth">
    <div class="row flex-grow">
        <div class="col-lg-8 mx-auto">
            <div class="auth-form-light text-left p-5">

                <h4>Hesabınız yok mu?</h4>
                <h6 class="font-weight-light"> Lütfen bir hesap oluşturmak için formu doldurunuz.</h6>
                <form asp-action="Create" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" type="text" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" type="text" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" type="text" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mail"></label>
                        <input asp-for="Mail" type="email" class="form-control" />
                        <span asp-validation-for="Mail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImagePath"></label>
                        <input asp-for="ImagePath" type="file" class="form-control" />
                        <span asp-validation-for="ImagePath" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success" type="submit">KAYIT OL</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->