@model List<Category>




<div class="card col-md-8">
    <div class="card-header">
        <h3 class="card-title">Category List</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>

                    <th>Category Name</th>
                    <th> Operations </th>

                </tr>
            </thead>
            <tbody>

                @foreach (Category item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td><a asp-action="Activate" asp-route-id="@item.ID" class="btn btn-success">Aktif Et</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
